.categories {
  text-align: center;
  margin: 2rem 0;
}

.categories img {
  width: 100%;
  height: auto;
}
.categories div {
  gap: 1rem;
  margin-top: 1.5rem;
}

.categories img:hover {
  cursor: pointer;
  filter: brightness(110%) contrast(95%);
}
