.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 1rem;
}
.shoplist-header {
  margin-bottom: 1rem;
}
.shoplist-header input {
  border: 1px solid #aaa;
  width: 50vw;
  max-width: 300px;
  padding: 1rem;
  outline: none;
}
.shoplist-footer {
  text-align: right;
}
.shoplist-footer svg {
  font-size: 0.75rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.shoplist-footer span {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
}
.shoplist-footer p {
  margin-top: 1rem;
}
@media (max-width: 576px) {
  .container {
    grid-template-columns: 100px 1fr;
  }
  .shoplist-header {
    flex-direction: column;
    align-items: flex-start;
  }
}
