.form {
  width: 300px;
  margin: 5rem auto;
}

.form h2 {
  text-align: center;
  margin-top: 2rem 0;
}
.form label {
  margin-top: 2rem;
}
.form input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
}

.form button {
  margin-top: 2rem;
  display: block;
  width: 100%;
  text-align: center;
}
