.amount {
  margin: 0 1rem;
  font-size: 18px;
  font-style: normal;
}
svg.action {
  cursor: pointer;
}
.trash {
  color: #aaa;
  cursor: pointer;
}

@media (max-width: 576px) {
  .amount {
    margin: 0 0.5rem;
  }
}
