.chat {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  z-index: 100;
}
.chat svg {
  cursor: pointer;
}
.icon {
  color: #fff;
  background-color: #000;
  font-size: 3rem;
  border: 8px solid #000;
  border-radius: 50%;
}
